<html>
    <head>
        <title>Datatables Demo</title>
        <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    </head>

    <body>
        <table id="demotable">
            <thead>
                <th>firstName</th>
                <th>lastName</th>
                <th>Location</th>
                <th>Button</th>
            </thead>
            <tbody>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tbody>
        </table>

        <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
        <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready( function () {
                $('#demotable').DataTable({
                    ajax: '/json',
                    order: [[ 1, "asc" ]],
                    columnDefs: [
                        {
                            targets: 0
                        },
                        {
                            targets: 1
                        },
                        {
                            targets: 2
                        },
                        {
                            targets: 3,
                            render: function(data, type, row) {
                                return '<a href="#' + data + '"><img src="some-img" /></a>';
                            }
                        }
                    ]
                });
            } );
        </script>
    </body>
</html>